*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.classpath

.project

*.prefs

.springBeans

target/classes/application.yml

target/classes/logback.xml

target/fx2-0.0.1-SNAPSHOT.jar.original
/target/
*.log
*.DS_Store
